<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sherlok.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="sherlok.Properties.Settings.rotary_technologyConnectionString"
            connectionString="server=192.168.23.160;user id=test;password=rt_admin;database=rotary_technology;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <userSettings>
        <sherlok.Properties.Settings>
            <setting name="paint_status" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="paint_iznos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>0.9.0 - Бета версия с монодоступом</value>
            </setting>
            <setting name="start" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="refreshing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="for_item_form" serializeAs="String">
                <value>0</value>
            </setting>
        </sherlok.Properties.Settings>
    </userSettings>
</configuration>